<form method="POST" action="/prediction">
    <label for="phrase">enter Indus</label><br><br>
    <input type="text" name="INDUS"><br><br>
    <label for="phrase">enter RM</label><br><br>
    <input type="text" name="RM"><br><br>
    <label for="phrase">enter Age</label><br><br>
    <input type="text" name="AGE"><br><br>
    <label for="phrase">enter Dis</label><br><br>
    <input type="text" name="DIS"><br><br>
    <label for="phrase">enter Nox</label><br><br>
    <input type="text" name="NOX"><br><br>
    <label for="phrase">enter Patrayoum</label><br><br>
    <input type="text" name="PTRATIO"><br><br>
    <input type="submit" value="submit">
</form>

